#general_frame {
    background-color: #1e1e2f;  /* Fond sombre doux */
    border: 1px solid #2a2f45;  /* Bordure gris-bleuté sobre */
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 173, 181, 0.2); /* Léger halo turquoise */
}

#section_frame {
    background-color: #2c2f3f;  /* Fond intérieur légèrement plus clair */
    border: 1px solid #3a3f58;
    padding: 20px;
    border-radius: 10px;
}

QLabel {
    font-size: 15px;
    font-weight: 600;
    color: #e0e0e0;
}
#section_image {
    border-radius: 50px;
    /*border: 1px solid white;  !* Optionnel pour l’effet visuel *!*/
}

QPushButton {
    /*background-color: #00adb5;  !* Accent turquoise moderne *!*/
    background-color: #2a2f45;  /* Accent turquoise moderne */
    color: #ffffff;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
}

QPushButton:hover {
    background-color: #007d8f; /* Teinte plus sombre au survol */
}

QPushButton:pressed {
    background-color: #005a63; /* Enfoncé */
}

#sections_layout {
    border: 1px solid #3a3f58;
    border-radius: 8px;
}
